const config = {
    "ownerID": "OWNERID here",
    "admins": [],
    "support": [],
    "token": "your token here",
    "prefix": "prefix here",

    // Some level you can config here
    permLevels: [{
            level: 0,
            name: "User",
            check: () => true
        },

        {
            level: 4,
            name: "Server Owner",
            check: (message) => message.guild.ownerID === message.author.id
        },

        {
            level: 8,
            name: "Bot Support",
            check: (message) => config.support.includes(message.author.id)
        },

        {
            level: 9,
            name: "Bot Admin",
            check: (message) => config.admins.includes(message.author.id)
        },

        {
            level: 10,
            name: "Owner",
            check: (message) => config.ownerID === message.author.id
        }
    ]
};

module.exports = config;